*{
	margin:0px;
	padding:0px;
	font-family:'迷你简卡通';
	font-size:28px;
}
html,body{
	width:100%;
	height:100%;
	background:rgba(244, 184, 202, 1);
}
ul{
	list-style:none;
}
#game{
	width:800px;
	height:600px;
	margin:auto;
	top:20%;
}
#game ul{
	width:100%;
	height:415px;
}
#game ul li{
	width:50%;
	height:100%;
	float:left;
	text-align:center;
}
#game ul li .anim{
	width:223px;
	height:337px;
	border:10px solid #ff6699;
	border-radius:50%;
	margin:20px auto 0;
	background-position:center;
	background-repeat:no-repeat;
}
.user{
	background:url('../img/readyl.png');
}
.comp{
	background:url('../img/readyr.png');
}
#game .op{
	width:100%;
	text-align:center;
}
#game .op button{
	width:200px;
	height:60px;
	border:10px solid #ff6699;
	background:rgb(253, 217, 227);
	border-radius:50%;
	outline:none;
	cursor:pointer;
	font-weight:bold;
}
#game .op button:hover{
	border-color:#ff0000;
	background-color:#ff0000;
	font-size:36px;
	color:rgb(253, 217, 227);
}
#game .op button.disabled{
	border-color:#bbb;
	color:#bbb;
	background-color:#ccc;
	font-size:28px;
	cursor:default;
}
#game .guess{
	width:220px;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	display:none;
}
#game ul.guess li{
	width:100%;
	height:32%;
}
#game ul.guess li div{
	width:100%;
	height:90%;
	border:10px solid #ff6699;
	border-radius:50%;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:rgba(244, 184, 202, 1);
}
#game ul.guess li div:hover{
	background-color:#ff6699;
	color:#fff;
}
div.guess0{
	background-image:url('../img/0.png');
}
div.guess1{
	background-image:url('../img/1.png');
}
div.guess2{
	background-image:url('../img/2.png');
}
#game div.text{
	margin-top:20px;
	text-align:center;
	font-size:50px;
	font-weight:bold;
}